header {
  @include clearfix;
  border-bottom: 1px solid $border-color;

  .container { margin: 1.5rem auto; }
}

.logo {
  color: black;
  display: block;
  font-size: 1rem;
  font-weight: $bold;
  text-align: center;
  margin-bottom: 1rem;

  &:hover { text-decoration: none; }

  @media #{$large} {
    float: left;
    margin-bottom: 0;
  }
}

.nav {
  margin: 0;
  padding: 0;
  text-align: center;

  @media #{$medium} {
    float: right;
    margin-top: .1rem;
  }
}

.nav__item {
  font-size: .9rem;
  font-weight: $bold;

  @media #{$medium} {
    float: left;
    margin-left: 1rem;

    &:first-child { margin-left: 0; }
  }
}

.nav__link {
  color: $black;
  display: block;

  &:hover { text-decoration: none; }

  @media #{$medium} {
    display: inline-block;
  }
}
