header {
  @include clearfix;
  border-bottom: 1px solid $border-color;
  text-align: center;

  .container {
    margin: 1rem auto;

    @media #{$medium} {
      margin: 1.5rem auto;
    }
  }
}

.logo {
  color: black;
  display: block;
  font-size: 1rem;
  font-weight: $bold;
  text-align: center;
  margin-bottom: .8rem;

  &:hover { text-decoration: none; }

  @media #{$medium} {
    float: left;
    margin-bottom: 0;
  }
}

.nav {
  display: inline-block;
  margin: 0;
  padding: 0;

  @media #{$medium} {
    float: right;
    margin-top: .1rem;
  }
}

.nav__item {
  float: left;
  font-size: .9rem;
  font-weight: $bold;
  margin-left: 1rem;

  &:first-child { margin-left: 0; }
}

.nav__link {
  color: $black;
  display: inline-block;

  &:hover { text-decoration: none; }
}
