// Gallery
.gallery {
  @include clean-list;
}

.gallery__item {
  margin-bottom: .7rem;

  @media #{$medium} {
    float: left;
    width: 49%;
    margin-left: 2%;

    &:nth-of-type(2n+1) {
      margin-left: 0;
      clear: left;
    }
  }

  @media #{$large} {
    width: 32%;

    &:nth-of-type(2n+1) {
      clear: none;
      margin-left: 2%;
    }

    &:nth-of-type(3n+1) {
      clear: left;
      margin-left: 0;
    }
  }
}

// Film Gallery
.film-gallery {
  @include clean-list;
}

.film-gallery__item {
  margin-bottom: 1rem;

  @media #{$medium} {
    float: left;
    margin-left: 6%;
    width: 47%;

    &:nth-of-type(2n+1) {
      clear: left;
      margin-left: 0;
    }
  }
}

.film-gallery__link:hover {
  text-decoration: none;
}

.film-gallery__image {
  display: block;
  margin-bottom: 1rem;
}

.film-gallery__title {
  color: $black;
  font-size: 1.1rem;
  margin-bottom: .5rem;
}

.film-gallery__description {
  color: $gray;
  font-size: .85rem;
  margin-bottom: 0;
}
